/*
TODO:
Determine [disabled] or .disabled
Add <a> support (probably just get rid of button prefix)
*/

.btn {
  border: none;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-weight: 600;
}

.btn:disabled.btn--disabled {
  cursor: default;
  background-color: transparent;

  &:hover {
    box-shadow: none;
  }
}

.btn {
  padding: 10px;
  margin: 0 5px;
  border-radius: var(--btn-radius);
  color: var(--btn-primary-color);
  background-color: var(--btn-primary-bg);

  &:hover {
    box-shadow: var(--box-shadow-layer);
  }
}

.btn.btn--alt {
  color: var(--btn-alt-color);
  background-color: #efefef;

  &:hover {
    color: #111;
  }

  &:active {
    background-color: #cdcdcd;
  }

  &:disabled {
    color: var(--color-help);
    background-color: transparent;
  }
}

.btn.btn--circle {
  border-radius: 50%;
  transition: all 0.2s;

  &:hover:not([disabled]) {
    border-radius: var(--btn-radius);
  }
}

.btn.btn--inverse {
  background-color: transparent;
  color: var(--btn-primary-bg);
}

.btn.btn--link {
  padding: 0;
  margin: 0;
  background-color: inherit;
  font-size: 1em;
  color: var(--btn-primary-bg); // this should be a different color
  border-radius: 0;

  &:hover {
    border-bottom: 1px solid;
    box-shadow: none;
  }
}

.btn--no-style {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
  border-radius: 0;
  padding: 0;
  margin: 0;

  &:hover {
    box-shadow: none;
  }
}

.btn.btn--link.btn--no-underline:hover {
  border-bottom: none;
}

.btn--link,
.btn--no-style {
  .btn__label {
    padding: 0;
  }
}

.btn__label {
  padding: 0 5px;
}
