.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-vertical $spacing-vertical * 2/3;

  margin-top: $spacing-vertical;
}

.header__actions-right {
  margin-left: auto;
  padding-left: $spacing-vertical / 2;
}

.header__wunderbar {
  flex: 1;
  min-width: 175px;
  overflow: visible;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: text;
}

.wunderbar__input {
  height: 30px;
  width: 100%;
  color: var(--search-color);
  background-color: var(--search-bg-color);
  box-shadow: var(--box-shadow-layer);
  padding: 10px;
  border-radius: 15px;
  font-size: 0.9em;

  &:focus {
    // TODO: focus style
    box-shadow: var(--search-active-shadow);
    box-shadow: 0 6px 9px -2px #ccc;
  }
}

.wunderbar__suggestion {
  padding: 10px;
  background-color: var(--header-bg);
  cursor: pointer;

  &:not(:first-of-type) {
    border-top: 1px solid var(--color-divider);
  }
}

.wunderbar__active-suggestion {
  background-color: var(--color-secondary);
}
