.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-bg);
  padding: 0 $spacing-vertical * 2/3;
}

.header__actions-right {
  margin-left: auto;
  padding-left: $spacing-vertical / 2;
}

.header__wunderbar {
  flex: 1;
  min-width: 175px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: text;
}

.wunderbar__input {
  height: 50%;
  width: 100%;
  color: var(--search-color);
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 10px;
  font-size: 0.9em;

  &:focus {
    // TODO: focus style
  }
}

.wunderbar__suggestion {
  padding: 5px;
  background-color: var(--header-bg);
  cursor: pointer;
}

.wunderbar__active-suggestion {
  background-color: #a3ffb0;
}
